
<div class="container">
  <div class="col-md-6 col-md-offset-3 panel panel-default well">
<h1>Calculator</h1>
<hr>
<div class="form-inline">
  <label >A:</label>
  <input type="text" class="form-control" [(ngModel)]="A">

  <label for="B">B:</label>
  <input type="text" class="form-control" [(ngModel)]="B">
</div>
<hr>

<button class="btn btn-primary"
(click)="addition()">addition</button>

<button class="btn btn-primary"
(click)="subtraction()">subtraction
</button>

<button class="btn btn-primary"
(click)="multiplication()">
multiplication</button>

<button class="btn btn-primary"
(click)="partition()">partition</button>

<hr>

<h2 class="bg-success">Result: {{rezultat}}</h2>

</div>
</div>
